.video-section {
  margin-top: 16px;
  &__video {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 32px; 
}
  &__description {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
  }
  &__title {
    width: 100%;
    h2 {
      margin-top: 0px;
      margin-bottom: 16px;
      line-height: 32px;
      font-family: AvenirBold;
      font-size: 24px;
    }
  }
  &__uploader{
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
  }
  &__date{
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
    color: silver;
  }
  &__views{
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
    img{
      margin-right: 8px;
    }
  }
  &__likes{
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
    img{
      margin-right: 8px;
    }
  }
  &__stats {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 2px solid silver;
    &--1 {
      margin-bottom: 32px;
      ul {
        list-style-type: none;
        list-style: none;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        width: 80%;
        display: flex;
        flex-direction: row;
        li {
          width: 50%;
          img {
            margin-right: 8px;
          }
        }
      }
    }
    &--2 {
      ul {
        list-style-type: none;
        list-style: none;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        width: 80%;
        display: flex;
        li {
          width: 50%;
        }
      }
    }
  }
  &__text {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}

// Tablet
@media screen and (min-width: 768px){
.video-section{
  &__video{
    width: 91.145%;
    margin-left: 4.427%;
    margin-right: 4.427%;
    margin-bottom:48px;
  }
  &__description{
    margin-left: 24px;
    margin-right: 24px;
  }
  &__stats{
    display:flex;
    flex-direction: row;
    &--1, &--2{
      width: 50%;
      margin-bottom: 0;
      ul li{
        width: auto;
      }
    }
    &--2 ul{
      width: 100%;
      justify-content: flex-end;
      li img{
        margin-right: 8px;
      }
    }
  }
  &__views{
    margin-right: 24px;
  }
  &__uploader{
    margin-right: 10px;
  }
  &__text{
    width: 73.9%;
    margin-top: 40px;
    margin-bottom: 64px;
  } 
}
}