.video{
    margin-left:5%;
    margin-right: 5%;
    &__maintitle{
        margin-top: 40px;
        margin-bottom: 40px;
        text-transform: uppercase;
        color: silver;
        font-family: AvenirDemi;
        font-size: 14px;
        line-height: 22px;
    }
    &__container{
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
        li{
            list-style-type: none;
        }
    }
    &__list{
        padding-left: 0;
    }
    &__image{
        margin-right: 8px;
        img{
        width: 120px;
        height: 70px;
        border-radius: 10px;
        }
    }
    &__title{
        font-family: AvenirDemi;
        font-size: 14px;
        line-height: 22px;
    }
    &__author{
        font-family: AvenirRegular;
        font-size: 13px;
        line-height: 18px;
    }
}
// Tablet
@media screen and (min-width: 768px){
    .video{
        margin-left: 3.125%;
        margin-right: 3.125%;
        &__container{
            max-width: 45.3125%;
        }
    }
}